<nav class="navigation-bar white fixed-top shadow">
    <nav class="navigation-bar-content container">
        <%= render 'shared/layouts/header/brand_in_main_nav' %>
        <span class="element-divider"></span>
        
        <%= render 'shared/layouts/header/reloader_in_main_nav' %>
        <span class="element-divider"></span>

        <%= render 'shared/layouts/header/search_in_main_nav' %>
        
        <!-- RIGHT MENU ITEMS -->
        <%= render 'shared/layouts/header/settings_in_main_nav' %>
        <span class="element-divider place-right"></span>
        
        <%= render 'shared/layouts/header/user_in_main_nav' %>
        <span class="element-divider place-right"></span>
        
        <%= render 'shared/layouts/header/admin_in_main_nav' %>
        <span class="element-divider place-right"></span>
    </nav>
</nav>